<% layout("/layout/boilerplate") -%>
<body>
    <h3>All Listings here</h3>
    <!-- <form method="GET" action="/listings/new">
        <button>Create new listing</button> -->
    <!-- </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
        <%  for(let listing of alllistings) { %>
            <div class="card col" style="width: 18rem;">
                <img src="<%= listing.image %>" class="card-img-top" alt="listing-image">
                <div class="card-body">
                  <p class="card-text">
                    <%= listing.title %> <br>
                    <%= listing.price.toLocaleString("en-IN") %>
                    
                  </p>
                </div>
              </div>
              <% }%>

    </div>
    



   
</body>



