<% layout("/layout/boilerplate") -%>

<body>
   
    <div class="row mt-3">
        <div class="col-8 offset-2">
    <br><br/>
    <h1>Add new Listing</h1>
    
    <form method="POST" action="/listings">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]"  type="text" class="form-control"  placeholder="Add a catchy title">

        </div>
       
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]"  type="text" class="form-control"></textarea>

        </div >

        <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input name="listing[image]"  type="text"  class="form-control" placeholder="Enter URL/LINK ">

        </div>
        
         <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]"  type="text" class="form-control" placeholder="1200">
            </div>
            
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" type="text" class="form-control" placeholder="Pakistan">
    
            </div>
            

         </div>
        
       <div class="mb-3">
        <label for="location" class="form-label">Localtion</label>
        <input name="listing[location]" type="text" class="form-control" placeholder="Lahore">
       </div>
        
        <button class="btn btn-dark add-btn mt-3" >Add</button>
        <br><br>
    </form>
</div>
</div>

</body>

